# env variables required for "google-sheet-to-csv" package
# https://github.com/blakenetz/Google-Sheet-to-CSV
GOOGLE_PROJECT_NAME=
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_ID=